.main {
  .ant-table-thead {
    tr {
      th {
        background: #fff !important;
        &:not(:last-child) {
          border-right: none !important;
        }
      }
    }
  }

  .ant-table .ant-table-bordered {
    margin: 0 !important;
  }

  .ant-table-tbody {
    tr {
      td {
        background: #fff !important;
        border-bottom: 1px solid #f0f0f0 !important;
        &:not(:last-child) {
          border-right: none !important;
        }
      }
    }
  }
}
